:root {
    --vp-c-white: #ffffff;
    --vp-c-black: #000000;

    --vp-c-gray: #8e8e93;

    --vp-c-text-light-1: rgba(60, 60, 67);
    --vp-c-text-light-2: rgba(60, 60, 67, 0.75);
    --vp-c-text-light-3: rgba(60, 60, 67, 0.33);

    --vp-c-text-dark-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-dark-2: rgba(235, 235, 245, 0.6);
    --vp-c-text-dark-3: rgba(235, 235, 245, 0.38);

    --vp-c-green: #10b981;
    --vp-c-green-light: #34d399;
    --vp-c-green-lighter: #6ee7b7;
    --vp-c-green-dark: #059669;
    --vp-c-green-darker: #047857;
    --vp-c-green-dimm-1: rgba(16, 185, 129, 0.05);
    --vp-c-green-dimm-2: rgba(16, 185, 129, 0.2);
    --vp-c-green-dimm-3: rgba(16, 185, 129, 0.5);

    --vp-c-yellow: #d97706;
    --vp-c-yellow-light: #f59e0b;
    --vp-c-yellow-lighter: #fbbf24;
    --vp-c-yellow-dark: #b45309;
    --vp-c-yellow-darker: #92400e;
    --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.05);
    --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.2);
    --vp-c-yellow-dimm-3: rgba(234, 179, 8, 0.5);

    --vp-c-red: #f43f5e;
    --vp-c-red-light: #fb7185;
    --vp-c-red-lighter: #fda4af;
    --vp-c-red-dark: #e11d48;
    --vp-c-red-darker: #be123c;
    --vp-c-red-dimm-1: rgba(244, 63, 94, 0.05);
    --vp-c-red-dimm-2: rgba(244, 63, 94, 0.2);
    --vp-c-red-dimm-3: rgba(244, 63, 94, 0.5);

    --vp-c-sponsor: #db2777;
    --vp-c-bg: #ffffff;

    --vp-c-bg-elv: #ffffff;
    --vp-c-bg-elv-up: #ffffff;
    --vp-c-bg-elv-down: #f6f6f7;
    --vp-c-bg-elv-mute: #f6f6f7;

    --vp-c-bg-soft: #f6f6f7;
    --vp-c-bg-soft-up: #f9f9fa;
    --vp-c-bg-soft-down: #e3e3e5;
    --vp-c-bg-soft-mute: #e3e3e5;

    --vp-c-bg-alt: #f6f6f7;

    --vp-c-border: rgba(60, 60, 67, 0.29);
    --vp-c-divider: rgba(60, 60, 67, 0.12);
    --vp-c-gutter: rgba(60, 60, 67, 0.12);

    --vp-c-neutral: var(--vp-c-black);
    --vp-c-neutral-inverse: var(--vp-c-white);

    --vp-c-text-1: var(--vp-c-text-light-1);
    --vp-c-text-2: var(--vp-c-text-light-2);
    --vp-c-text-3: var(--vp-c-text-light-3);

    --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
    --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
    --vp-c-text-inverse-3: var(--vp-c-text-dark-3);

    --vp-c-text-code: #476582;

    --vp-c-brand: var(--vp-c-green);
    --vp-c-brand-light: var(--vp-c-green-light);
    --vp-c-brand-lighter: var(--vp-c-green-lighter);
    --vp-c-brand-dark: var(--vp-c-green-dark);
    --vp-c-brand-darker: var(--vp-c-green-darker);
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #34fe77, #41d1ff);
    --vp-button-brand-bg: #388f55;

    --vp-c-mute: #f6f6f7;
    --vp-c-mute-light: #f9f9fc;
    --vp-c-mute-lighter: #ffffff;
    --vp-c-mute-dark: #e3e3e5;
    --vp-c-mute-darker: #d7d7d9;
}

.dark {
    --vp-c-bg: #1e1e20;

    --vp-c-bg-elv: #252529;
    --vp-c-bg-elv-up: #313136;
    --vp-c-bg-elv-down: #1e1e20;
    --vp-c-bg-elv-mute: #313136;

    --vp-c-bg-soft: #252529;
    --vp-c-bg-soft-up: #313136;
    --vp-c-bg-soft-down: #1e1e20;
    --vp-c-bg-soft-mute: #313136;

    --vp-c-bg-alt: #161618;

    --vp-c-border: rgba(82, 82, 89, 0.68);
    --vp-c-divider: rgba(82, 82, 89, 0.32);
    --vp-c-gutter: #000000;

    --vp-c-neutral: var(--vp-c-white);
    --vp-c-neutral-inverse: var(--vp-c-black);

    --vp-c-text-1: var(--vp-c-text-dark-1);
    --vp-c-text-2: var(--vp-c-text-dark-2);
    --vp-c-text-3: var(--vp-c-text-dark-3);

    --vp-c-text-inverse-1: var(--vp-c-text-light-1);
    --vp-c-text-inverse-2: var(--vp-c-text-light-2);
    --vp-c-text-inverse-3: var(--vp-c-text-light-3);

    --vp-c-text-code: #c9def1;

    --vp-c-mute: #313136;
    --vp-c-mute-light: #3a3a3c;
    --vp-c-mute-lighter: #505053;
    --vp-c-mute-dark: #2c2c30;
    --vp-c-mute-darker: #252529;
}